 body {
    
    display: flex;
    height: 100vh;

}

.center {
    display: inline-flexbox; 
    text-align: center;
    background-color: rgb(148, 65, 65);
     width: 40%; 
}


 .left {
    background-color: rgb(58, 49, 114);
    width: 30%;
    justify-content: left;
    align-items: left;

}

.right {
    background-color:rgb(58, 49, 114);
    width: 30%;
    justify-content: right;
    align-items: right;
} 

.buttons {
    width: 200px;
    height: 70px;
    padding: 20px;
} 


