
body{
    background-color: lightcyan;
}

.child {
    display: flex;
    flex-direction: column;
    margin: 80px; 

}


#root {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
}


img {
    width: 650px;
    height: 300px;
}

#bb {
    display: flex;
    justify-content: center;

}

