body {
    
    display: flex;
    height: 100vh;

}

.left {
    padding: 20px;
    justify-content: left;
    align-items: left;

}

.right {
    padding: 20px;

    justify-content: right;
    align-items: right;
}

